<div class="container">

<h2 class="ui-widget-header ui-corner-all">tasks</h2>
<% @u2bs.each do |u2b| %>
  <a href="/?board_id=<%= u2b.board_id %>">board:<%= u2b.board_id %></a>
<% end %>

<ul id="sortable-li">
  <% @tasks.each do |task|  %>
    <li data-id="<%= task.id %>" id="<%= task.id %>" >
      <a href="#" id="<%= task.id %>" class="ui-state-default" data-name="task" data-type="text" data-pk="<%= task.id %>" data-url="/edit" data-title="enter">
        <%= task.body %>
      </a>
      <span class="ui-icon ui-icon-trash deleteCmd"></span>
      <span class="ui-icon ui-icon-arrowthick-2-n-s ui-corner-all ui-state-hover moveCmd" >&nbsp;</span>
    </li>
  <% end %>
</ul>

<h2 class="ui-widget-header ui-corner-all">add new</h2>
<div id="add-form">
<input type="text" name="body" id="body" class="body">
<span class="ui-icon ui-icon-circle-plus addCmd">[add]</span>
</div>

<input type="text" name="board_id" id="board_id" value="<%= @board_id %>" >

</div>
