<div class="container">

<h1>tasks</h1>
<ul id="sortable-li">
  <% @tasks.each do |task|  %>
    <li data-id="<%= task.id %>" id="<%= task.id %>" >
      <a href="#" id="<%= task.id %>" class="ui-state-default" data-name="task" data-type="text" data-pk="<%= task.id %>" data-url="/edit" data-title="enter">
        <%= task.body %>
      </a>
      <span class="deleteCmd" style="float: right; cursor:pointer; color:blue">[delete]</span>
    </li>
  <% end %>
</ul>

<h2>add new</h2>
<form method="post" action="/new">
<input type="text" name="body"><input type="submit" value="submit!">
</form>

</div>
