Hello, Aptena!!
<div class="container">
<h1>tasks</h1>
<ul id="sortable-li">
  <% @tasks.each do |task|  %>
    <li data-id="<%= task.id %>" id="<%= task.id %>" >
      <a href="#" id="<%= task.id %>" class="ui-state-default" data-name="task" data-type="text" data-pk="<%= task.id %>" data-url="/update" data-title="enter">
        <%= task.body %>
      </a>
      <span class="deleteCmd" style="cursor:pointer; color:blue">[x]</span>
    </li>
  <% end %>
</ul>

<h2>add new</h2>
<form method="post" action="/new">
<input type="text" name="body"><input type="submit" value="submit!">
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

<script src="/js/jquery.ui.touch-punch.min.js"></script>

<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.css">

<link href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.5/jqueryui-editable/css/jqueryui-editable.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.5/jqueryui-editable/js/jqueryui-editable.min.js"></script>

<img src="/images/icon.png">

<style>
#sortable-li {
  padding: 0;
  list-style-type: none;
  width: 50%;
}

#sortable-li li {
  background: #eee;
  border-bottom: 1px solid #333;
  width: 250px;
  display: block;
  padding: 5px;
  cursor: pointer;
}
</style>

<script>
$.fn.editable.defaults.mode = 'inline';
$(document).ready(function() {
  $('.ui-state-default').editable();
});


$('.deleteCmd').click(function(){
  var el = $(this).parent();
  $.post('/delete', {
    id: el.data('id')
  }, function() {
    el.fadeOut(800)
  });
  return false;
})

$(function(){
  $('#sortable-li').sortable({
    update: function(event, ui){
      var ids = $('#sortable-li').sortable('toArray');
      $.post('/update',{ids: ids});
    }
  });
});
</script>

</div>
