<div class="container">

<h1>tasks</h1>
<ul id="sortable-li">
  <% @tasks.each do |task|  %>
    <li data-id="<%= task.id %>" id="<%= task.id %>" >
      <a href="#" id="<%= task.id %>" class="ui-state-default" data-name="task" data-type="text" data-pk="<%= task.id %>" data-url="/edit" data-title="enter">
        <%= task.body %>
      </a>
      <span class="deleteCmd">[delete]</span>
      <span class="ui-icon ui-icon-arrowthick-2-n-s ui-corner-all ui-state-hover" >&nbsp;</span>
    </li>
  <% end %>
</ul>

<h2>add new</h2>
<div id="add-form">
<input type="text" name="body" id="body">
<span class="addCmd">[add]</span>
</div>

</div>
